<div class="container">
  <h2 class="text-center">Hello world avec React</h2>
  <p>Point d'entrée de l'application</p>
  <kbd>HTML</kbd><br />
  <textarea class="myCode">
  <div id="root"></div>
    </textarea
  >

  <kbd>Javascript</kbd><br />

  <textarea class="myCode">
  ReactDOM.render(
    <h1>Hello world!</h1>,
    document.getElementById("root")
  );        
    </textarea
  >
  <p>
    Le premier argument de la méthode <code>ReactDOM.render()</code> est un
    élément <mark>React</mark>. Cet élément est une expression
    <mark>JSX</mark> qui sera compilé avec <mark>Babel</mark> pour obtenir du
    pur Javascript.
  </p>
</div>
