<div class="container ">
  <h2>
    Premier composant <mark>React</mark>
    <span class="text-muted">&lt;Todo /&gt; </span>
  </h2>
  <kbd>HTML</kbd><br />
  <textarea class="myCode"><div id="root"></div></textarea>

  <kbd>Javascript</kbd><br />

  <textarea class="myCode">
function Todo() {
  return (
    <h1> Task to do !</h1>
  );
}
ReactDOM.render(
  <Todo />,
  document.getElementById("root")
);</textarea
  >
  <p class="small">
    L'élément <code>&lt;Todo /&gt;</code> est un <mark>Composant React</mark>.
    On l'utilise comme s'il s'agit d'une balise HTML ordianaire.
  </p>
</div>
