<div class="container">
  <h2 class="text-center">Tri lors de réalisation d'une tâche.</h2>
  <p>
    Le tri doit s'opérer sur le composant <code>&lt;App /&gt;</code>.
    <textarea class="myCode">
  function prependTodo(todo) {
    /* Il faut générer un todo.id unique */
    todo["id"] = Math.max(...todos.map(t => t.id)) + 1;
    updateTodos([todo, ...todos]);
  }
  /* On tri selon deux critère todo.done puis todo.id  */
  function sort(todos) {
    return todos.sort((t1, t2) => {
      return (t1.done === t2.done) ? ((t1.id > t2.id) ? -1 : 1) : t1.done ? 1 : -1;
    })
  }
  function updateTodo(todo) {
    const t = todos.find(t => t.id === todo.id)
    if (t) {
      t.done = todo.done;
      updateTodos([...todos]);
    }
  }
  </textarea
    >
  </p>
</div>
