<style>
  .logo {
    animation: logo-spin infinite 20s linear;
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
</style>
<div class="container text-center">
  <h1>React, c'est quoi ?</h1>
  <div class="row">
    <div class="col-md-2 offset-5">
      <img src="../../images/logo.svg" class="logo" alt="reactJS logo" />
    </div>
  </div>
  <hr />
  <h3 style="line-height: 2em;">
    React est une bibliothèque JavaScript déclarative, efficace et flexible pour
    la création d'interfaces utilisateur.
    <br />
    Elle vous permet de composer des interfaces utilisateur complexes à partir
    de petits morceaux de code isolés appelés « <mark> composants</mark>».
  </h3>
</div>
