<div class="container text-center">
  <h1 class="text-center">Installer React</h1>
  <p>
    Pour commncer à développer avec <mark>React</mark>, il faut l'installer avec
    <code>create-react-app</code> en utilisant <mark>npx</mark> :
  </p>
  <div class="row">
    <div class="col-md-5 text-left">
      <div>
        <kbd>npx create-react-app nom_app</kbd>
      </div>
      <div>
        <kbd>cd nom_app</kbd>
      </div>
      <div>
        <kbd>npm start</kbd>
      </div>
      <img
        src="../../images/browser_app.jpg"
        class="img-fluid my-2"
        alt="react in the browser"
      />
    </div>

    <div class="col-md-7">
      <img
        src="../../images/structure_fichiers.png"
        class="img-fluid mt-4"
        alt="Structure des fichiers"
      />
    </div>
  </div>
</div>
